################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CommonDataLayer/bin
/.vs
/CommonDataLayer/obj
/CommonLayer/bin
/CRM/bin
/CRM/obj
/packages
