  <html>
<body>
    <fieldset>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-groupingBoder">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a class="collapsediv" data-toggle="collapse" href="#SearchDetails" style="color: white">
                                Task Reminder Update Form
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            @Html.Label("Type", new { @class = "required" })
                            @Html.DropDownList("ddlType", new SelectList(string.Empty, "Value", "Text"), "Select", new { @class = "form-control" })
                        </div>

                        <div class="col-sm-2" style="margin-right:-5px">
                            <br />
                            <button type="button" id="btnUpdate" class="btn btn-success" title="Click Here To Update Reminder" style="padding: 4px 26px;">Update</button>
                        </div>
                    </div>

                    <div class="divider"></div>

                    <div id="SearchDetails" class="panel-collapse collapse in" aria-expanded="true">
                        <div class="panel-body">
                            <div class="container fill">
                                <div id="SearchGrid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</body>
</html>

<script src="~/Scripts/Target/UpdateTaskReminder.js"></script>