@model CRM.Areas.Admin.Models.EminentCompliancesModel

<fieldset>
    <div class="panel-group">
        <div class="panel panel-default">

            <div class="panel-groupingBoder">
                <div class="panel-heading">
                    <div class="panel-title">
                        Eminent Compliances Form
                    </div>
                </div>
                <div id="collapse2" class="panel-collapse collapse in" aria-expanded="true">
                    <div class="panel-body">
                        <div class="container fill">
                            <fieldset>

                                <div>
                                    <div class="row" style="margin-left: 5px; margin-top: 5px;">
                                        <div class="col-md-12 col-sm-12">
                                            <button type="button" id="btnSave" class="btn btn-success" title="Click Here To Save">Save</button>
                                        </div>
                                    </div>
                                </div>
                                <br>


                                <div class="row" style="margin-left: 5px; margin-top: 5px;">

                                    <div class="col-md-12 col-sm-12" >
                                        <lable class="required"> Compliances : </lable>
                                        <textarea style="width:100%;" id="compliance" class="my_tinymce"> </textarea>
                                        @Html.HiddenFor(model => model.ComplianceId)
                                    </div>

                                </div>

                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</fieldset>
<script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
<script src="~/scripts/tinymce/tinymce.min.js"></script>
<script type="text/javascript">

    tinyMCE.init({
        mode: "textareas",
        editor_selector: "my_tinymce",
        height: "600px",
        theme: "modern",
        verify_html: false,

        plugins: "advlist,image,anchor,colorpicker,paste,table",
        paste_data_images: true,

        theme_advanced_buttons1:
            "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2:
            "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_buttons3:
            "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
        theme_advanced_buttons4:
            "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft,codehighlighting,netadvimage",
        theme_advanced_buttons3_add: "tablecontrols",
        table_styles: "Header 1=header1;Header 2=header2;Header 3=header3, border=1",
        table_cell_styles: "Header 1=header1;Header 2=header2;Header 3=header3;Table Cell=tableCel1",
        table_row_styles: "Header 1=header1;Header 2=header2;Header 3=header3;Table Row=tableRow1",
        table_cell_limit: 100,
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        theme_advanced_statusbar_location: "bottom",
        theme_advanced_resizing: false
    });
    function get_Description_Content() {
        return tinyMCE.get('compliance').getContent();
    }
</script>
<script src="~/Scripts/Admin/EminentCompliances.js"></script>
